@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section scripts
{
    <link href="~/css/login.css" rel="stylesheet" asp-file-version="true" />
    <script src="@Url.Content("~/js/login/login.js")"></script>
}
@{
    ViewData["Title"] = "Login";
}

<h4>@ViewData["Title"].</h4>

<section>
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("LoginWidget")
        </div>
        <div class="row">
            @await Component.InvokeAsync("LoginCarousel")
        </div>
    </div>
</section>