<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisNodeIndex" path="index.js" verb="*" modules="iisnode"/>
      <add name="iisNodeSenGrid" path="sendgrid.js" verb="*" modules="iisnode"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.js"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="sendgrid">
          <match url="sendgrid/*"/>
          <action type="Rewrite" url="sendgrid.js"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMode="NoControl"/>
    </staticContent>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>