<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Avoid_HotLinking" stopProcessing="true">
          <match url=".*\.(png|jpg|gif|css|js)$"/>
          <conditions>
            <add input="{HTTP_REFERER}" pattern="^$"/>
          </conditions>
          <action type="Rewrite" url="RESOURCE_NOT_FOUND.html"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/RESOURCE_NOT_FOUND.html" responseMode="ExecuteURL"/>
    </httpErrors>
    <!-- Completely block access from any callers
        <security>
            <requestFiltering>
                <fileExtensions applyToWebDAV="false">
          <add fileExtension=".js" allowed="false" />
          <add fileExtension=".css" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    -->
  </system.webServer>
</configuration>