@{
    ViewData["Title"] = "Contact";
}

<h4>@ViewData["Title"].</h4>

<section>
    <div class="row">
        <table class="table table-hover">
            <tr>
                <td>
                    <div>
                        <img src="http://i.imgur.com/7ICEXmJ.jpg" alt="Noah Tong" class="img-circle" style="width: 140px; height: 140px;">
                    </div>
                    <hr />
                    <div>
                        <a class="btn btn-default small" href="https://ca.linkedin.com/in/noah-tong-a7269360?trk=profile-badge" role="button" target="_blank">Noah Tong - LinkedIn</a>
                    </div>
                </td>
                <td>
                    <address>
                        Calgary, AB<br />
                        Canada<br />
                        <abbr title="Phone">P:</abbr>
                        519.562.6035
                    </address>

                    <address>
                        <strong>Support:</strong> <a href="mailto:noah089736@hotmail.com">Support@TTech.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:noah089736@hotmail.com">Marketing@TTech.com</a>
                    </address>
                </td>
            </tr>
        </table>
    </div>
</section>