@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <h3>As a visitor...</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/about/visitors/Login_page.JPG" alt="Login">
                    <div class="caption">
                        <h3>Login</h3>
                        <p>Use the Login Page to log in to the Invoice Manager User Interface, or click 'New User' to become a memeber.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/about/visitors/Main_Menu.JPG" alt="Visitor Menu">
                    <div class="caption">
                        <h3>Visitor Menu</h3>
                        <p>Traverse the sites, and enjoy our responsive web design that fits for both mobile and tablet device.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/about/visitors/Register_page.JPG" alt="Registration">
                    <div class="caption">
                        <h3>Registration</h3>
                        <p>Become our memeber, and start to manage your day-to-day expenses today.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/about/visitors/Forgot_Password_page.JPG" alt="Forgot Password">
                    <div class="caption">
                        <h3>Forgot Your Password ?</h3>
                        <p>No worries... you can easily reset your password with one click!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/about/visitors/Message_Board_page.JPG" alt="Message Board page">
                    <div class="caption">
                        <h3>Keep In Touch !</h3>
                        <p>Keep in touch with our developers and commmunity, provide your experience and feedback.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>