@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Invoice Management";
}

<h4>@ViewData["Title"].</h4>
<hr />

<!--<h3>@ViewData["Message"]</h3>-->

<div class="nav">

</div>

