@{
    ViewData["Title"] = "APIs";
}
@section scripts
{
    <script src="@Url.Content("~/js/home/api.js")"></script>
}

<h2>@ViewData["Title"].</h2>
<hr />

<div class="row">
    <form class="form-horizontal">
        <h3>APIs</h3>
        <div class="form-group form-inline">
            <div class="input-group">
                <span class="input-group-addon" id="ping">api/ping/</span>
                <input type="text" class="form-control" placeholder="---" aria-describedby="ping" id="pingInput" name="pingInput" disabled>
            </div>
            <button type="button" class="btn btn-link" id="linkOne">
                Go&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
            </button>
        </div>
        <div class="form-group form-inline">
            <div class="input-group">
                <span class="input-group-addon" style="border-right-width: 0;">api/getDiffInDays/</span>
                <input type="text" class="form-control" placeholder="YYYYMMDD" id="getDiffInDaysInputOne">
                <span class="input-group-addon" style="border-left-width: 0; border-right-width: 0;">/</span>
                <input type="text" class="form-control" placeholder="YYYYMMDD" id="getDiffInDaysInputTwo">
            </div>
            <button type="button" class="btn btn-link" id="linkTwo">
                Go&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
            </button>
        </div>
    </form>
</div>